* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

#canvas1 {
    border: 5px solid black;
    max-width: 100%;
    max-height: 100%;
    background: #4d79bc;
    position: relative;
    margin: 0 auto;
    font-family: 'Bangers', cursive;
}

#layer1, #layer2, #layer3, #layer4, #player, #angler1, #angler2, #lucky, #projectile, #gears, #hivewhale, #drone, #smokeExplosion, #fireExplosion, #bulbwhale, #moonfish, #shield {
    display: none;
}

.info {
    padding: 10px;
    position: relative;
    z-index: 100;
    text-shadow: 1px 1px 0 white;
    pointer-events: none;
}